<div id="header">

  <span><a href="http://localhost:3000"><i class="material-icons">home</i></a></span>

  <span>Crowd Circle</span>

</div>

<agm-map [styles]="false" [clickableIcons]="false" [streetViewControlOptions]="false"  [disableDefaultUI]="true" [zoom]='18' [latitude]="lat" [longitude]="lng">


  <agm-marker class="mapMarker" *ngFor="let device of devices;"  [latitude]="device.latitude" [longitude]="device.longitude"


              [iconUrl]="'https://img.icons8.com/color/40/000000/user-location.png'" >

    <agm-info-window>

      <div class="eventText">
        <strong>{{device.name}}</strong>
      </div>

      <!--<button class="btn btn-success btn-sm"-->
              <!--(hover)="onDelete(m)">Delete</button>-->
    </agm-info-window>

  </agm-marker>


</agm-map>
